body {
  background-color: #202020;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App__header h1 {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 40px;
  color: transparent;
  animation: rainbow 3s infinite;
  background-size: 400% 100%;
  margin: 0 50px;
}

@keyframes rainbow {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
